{% extends "index.html" %}
{% block title %} <h2>Bem-vindo Administrador</h2> {% endblock title %}
{% block contentTitle %}<h3>Já tem uma conta?</h3>{% endblock contentTitle %}
{% block content %}
    <div class="container">
        <div class="feature-tiem">
            <form action="/administradorLoginEvent/" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn_primary">Enviar</button>
            </form>
            <a href="/cadastrarAdministrador/">Ainda não tenho uma conta</a>

        </div>
    </div>
{% endblock content %}