{% extends "index.html" %}

{% block title %}<h1 style="font-size: 4rem;">Dashboard do Administrador</h1>{% endblock title %}
{% block contentTitle %}{% endblock contentTitle %}
{% block content %}
<div class="dashboard-container">
    <!-- Barra Lateral -->
    <nav class="sidebar">
        <ul>
            <li><a href="{% url "administradorDashboard" %}">Início</a></li>
            <li><a href="{% url "gerenciarAdministradores" %}">Gerenciar Administradores</a></li>
            <li><a href="{% url "gerenciarGarcom" %}">Gerenciar Garçons</a></li>
            <li><a href="{% url "gerenciarCozinha" %}">Gerenciar Cozinha</a></li>
            <li><a href="{% url "gerenciarCardapio" %}">Gerenciar Cardápio</a></li>
            <li><a href="{% url "administradorPedidos" %}">Ver Pedidos</a></li>
            <li><a href="{% url "clean_pedidos" %}"><button class="btn-primary" onclick="return confirm('Tem certeza?')">Limpar Pedidos</button></a></li>
        
            <li><form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form></li>
        </ul>
    </nav>

    <!-- Conteúdo Principal -->
    <main class="main-content">
        <h1>Olá, {{ request.user}}! Bem-vindo(a) de volta.</h1>
        <!-- Botão de logout -->
        
        <section class="overview">
            <h2>Visão Geral</h2>
            <div class="stats">
                <div class="stat-card">
                    <h3>Administradores</h3>
                    <p>{{administradores.count}} cadastrados</p>
                </div>
                <div class="stat-card">
                    <h3>Garçons</h3>
                    <p> {{garcons.count}} cadastrados</p>
                </div>
                <div class="stat-card">
                    <h3>Itens do Cardápio</h3>
                    <p>{{cardapio.count}} itens</p>
                </div>
            </div>
        </section>
        
        <!-- systemaBarDjango/main/templates/administradorDashboard.html -->
        <section class="recent-actions">
            <h2>Ações Recentes</h2>
            <ul>
                {% for action in recent_actions %}
                    <li>{{ action.descricao }} ({{ action.data }})</li>
                {% endfor %}
                <br><br>
                <button><a href="{% url 'clean_actions' %}" onclick="return confirm('Tem certeza?');">Limpar ações</a></button>
            </ul>
        </section>
    </main>
</div>
{% endblock content %}
