{% extends 'index.html' %}
{% block title %}{% endblock title %}
{% block contentTitle %}{% endblock contentTitle %}
{% block content %}
<div class="dashboard-container">
    <div class="sidebar">
        <ul>
            <li><a href="#">Ver Pedidos</a></li>
            <li><a href={% url "garcomNovoPedido" %}>Novo Pedido</a></li>
            <li><a href="{% url "garcomDashboard" %}">Dashboard</a></li>        
        </ul>
    </div>

    <div class="main-content">
        <h1>Dashboard do Garçom</h1>
        <p>Olá, {{ request.user.username}}! Bem-vindo(a) de volta.</p>
        <!-- Botão de logout -->
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn-primary">Logout</button>
        </form>
        {% block garcomMainContent %}
        <div class="overview">
            <div class="stats">
                <div class="stat-card">
                    <h3>Pedidos Ativos</h3>
                    <p>10</p>
                </div>
                <div class="stat-card">
                    <h3>Mesas Ocupadas</h3>
                    <p>5</p>
                </div>
                <div class="stat-card">
                    <h3>Pedidos Concluídos</h3>
                    <p>20</p>
                </div>
            </div>
        </div>

        <h2>Pedidos Recentes</h2>
        <table>
            <thead>
                <tr>
                    <th>Nº do Pedido</th>
                    <th>Mesa</th>
                    <th>Itens</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.mesa }}</td>
                        <td>
                            <ul>
                                {% for item in pedido.itempedido_set.all %}
                                    <li>{{ item.item_cardapio.nome }} - {{ item.quantidade }} x {{ item.preco }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ pedido.get_status_display }}</td>
                        <td>
                            {% if pedido.status != 'pronto' %}
                                <button class="btn-primary">Finalizar</button>
                            {% else %}
                                <button disabled>Finalizado</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% endblock garcomMainContent %}
    </div>
</div>
{% endblock %}
