{% extends "index.html" %}

{% block title %}<h1>Gerenciar Cozinha</h1>{% endblock title %}
{% block content %}
<div class="admin-list-container">
    <h2>Cozinha Cadastrados</h2>
    <table class="admin-table">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cozinha %}
                <tr>
                    <td>{{ c.usuario }}</td>
                    <td>{{ c.email }}</td>
                    <td>
                        <a href="{% url "editarCozinha" c.pk %}" class="btn-edit">Editar</a>
                        <a href="{% url "deletarCozinha" c.pk %}" class="btn-delete" onclick="return confirm('Tem certeza que deseja excluir este administrador?');">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br>
<a href="{% url "administradorDashboard" %}" class="btn-edit">Dashboard</a>
{% endblock content %}
{% block contentTitle %}{% endblock contentTitle %}
