{% extends "index.html" %}
{% block title %}Gerenciar Cardápio{% endblock title %}
{% block contentTitle %}{% endblock contentTitle %}
{% block content %}
<div class="menu-container">
    <h2>Itens do Menu</h2>
    <table class="menu-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Foto</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in menu %}
                <tr>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.preco }}</td>
                    <td><img src="{{ item.foto }}"></td>
                    
                    <td>
                        <a href="#" class="btn-edit">Editar</a>
                        <a href="#" class="btn-delete" onclick="return confirm('Tem certeza que deseja excluir este item?');">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <h2>Cadastrar Novo Item</h2>
    <form method="POST" action="gerenciarCardapio/adicionarItemCardapio/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Cadastrar" class="btn-primary">
    </form>
</div>
{% endblock content %}