<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SystemaBar - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/"><h1 class="logo">SystemaBar</h1></a>
            <nav class="nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cardápio</a></li>
                    <li><a href="#">Pedidos</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            {% block title %}<h2>Bem-vindo ao SystemaBar</h2>
            <p>O melhor sistema para gerenciar seu bar ou restaurante.</p>
            <a href=" {% url 'escolhaCadastro'%}" class="btn-primary">Começar</a>
            {% endblock title %}
        </div>
    </section>

    <section class="features">
        <div class="container">
            {% block contentTitle %} <h3>Nossas Funcionalidades</h3> {% endblock contentTitle %}
            {% block content %}
            <div class="features-grid">
                <div class="feature-item">
                    <h4>Administrador</h4>
                    <p>Gerencie o estoque e monitore o fluxo do seu bar com facilidade.</p>
                    <a href="{% url "administradorLogin" %}" class="btn-primary" style="position: relative; top: 30px;
">Acessar</a>
                </div>
                <div class="feature-item">
                    <h4>Cozinha</h4>
                    <p>Processe os pedidos de uma forma intuitiva.</p>
                    <a href="{% url "cozinhaLogin" %}" class="btn-primary" style="position: relative; top: 30px;">Acessar</a>
                </div>
                <div class="feature-item">
                    <h4>Garçom</h4>
                    <p>Gere os pedidos e garanta uma melhor satisfação dos clientes.</p>
                    <a href="{% url "garcomLogin" %}" class="btn-primary" style="position: relative; top: 30px;">Acessar</a>
                </div>
            </div>
            {% endblock content %}
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 SystemaBar. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
